{% extends 'base.html' %}
{% load staticfiles %}
{% load cardtravel_extras %}

{% block content %}
	<div>
		<h2><a href="{{ card.get_absolute_url }}">{{ card.name }}</a></h2>
		<p><strong>country: </strong>
			<a href={% url 'view_category' 'country' card.country|encode_url %}>{{ card.country }}</a>
		</p>
		<p><strong>series: </strong>
			<a href={% url 'view_category' 'series' card.series|encode_url %}>{{ card.series }}</a>
		</p>
		<p><strong>catalog_codes: </strong>{{ card.catalog_codes }}</p>
		<p><strong>issued_on: </strong>
			<a href={% url 'view_category' 'year' card.issued_on %}>{{ card.issued_on }}</a>
		</p>
		<p><strong>description: </strong>{{ card.description }}</p>
		<img src={{card.face_picture.url}} height="200">
		{% include 'cardtravel/preview/add_remove.html' %}
		<img src={{card.reverse_picture.url}} height="200">
	</div>
{% endblock %}