
<img src="{{card.face_picture.url}}" height="200">
<h5><a href="/cards/{{card.id}}/">{{ card.name }}</a></h5>
<p><a href="/cards/country/{{card.country_url}}/">{{ card.country }}</a></p>
<p><a href="/cards/year/{{card.issued_on}}/">{{ card.issued_on }}</a></p>
{% if card in user_wishlist %}
	<a href="/remove_card/wishlist/{{card.id}}/">Remove card in wishlist</a>
	<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
	</button>
{% else %}
	<a href="/add_card/wishlist/{{card.id}}/">Add card from wishlist</a>
	<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	</button>
{% endif %}
{% if card in user_collection %}
	<a href="/remove_card/collection/{{card.id}}/">Remove card in collection</a>
	<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
	</button>
{% else %}
	<a href="/add_card/collection/{{card.id}}/">Add card from collection</a>
	<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
	</button>
{% endif %}

	