
	<h2><a href="/cards/{{card.id}}/">{{ card.name }}</a></h2>
	<p><strong>country: </strong><a href="/cards/country/{{card.country_url}}/">{{ card.country }}</a></p>
	<p><strong>series: </strong><a href="/cards/series/{{card.series_url}}/">{{ card.series }}</a></p>
	<p><strong>catalog_codes: </strong>{{ card.catalog_codes }}</p>
	<p><strong>issued_on: </strong><a href="/cards/year/{{card.issued_on}}/">{{ card.issued_on }}</a></p>
	<p><strong>description: </strong>{{ card.description }}</p>
	<img src="{{card.face_picture.url}}" height="200">
	{% if card in user_wishlist %}
		<a href="/remove_card/wishlist/{{card.id}}/">Remove card in wishlist</a>
	{% else %}
		<a href="/add_card/wishlist/{{card.id}}/">Add card from wishlist</a>
	{% endif %}
	{% if card in user_collection %}
		<a href="/remove_card/collection/{{card.id}}/">Remove card in collection</a>
	{% else %}
		<a href="/add_card/collection/{{card.id}}/">Add card from collection</a>
	{% endif %}
	<img src="{{card.reverse_picture.url}}" height="200">
	