{% extends 'base.html' %}
{% load staticfiles %}
{% load cardtravel_extras %}

{% block content %}
	<div>
		<h2><a href={% url 'view_card' card.id %}>{{ card.name }}</a></h2>
		<p><strong>country: </strong>
			<a href={% url 'view_category' 'country' card.country|encode_url %}>{{ card.country }}</a>
		</p>
		<p><strong>series: </strong>
			<a href={% url 'view_category' 'series' card.series|encode_url %}>{{ card.series }}</a>
		</p>
		<p><strong>catalog_codes: </strong>{{ card.catalog_codes }}</p>
		<p><strong>issued_on: </strong>
			<a href={% url 'view_category' 'year' card.issued_on %}>{{ card.issued_on }}</a>
		</p>
		<p><strong>description: </strong>{{ card.description }}</p>
		<img src={{card.face_picture.url}} height="200">
		{% if card in user_wishlist %}
			<a href={% url 'remove_card' 'wishlist' card.id %}>Remove card in wishlist</a>
		{% else %}
			<a href={% url 'add_card' 'wishlist' card.id %}>Add card from wishlist</a>
		{% endif %}
		{% if card in user_collection %}
			<a href={% url 'remove_card' 'collection' card.id %}>Remove card in collection</a>
		{% else %}
			<a href="/add_card/collection/{{card.id}}/">Add card from collection</a>
		{% endif %}
		<img src={{card.reverse_picture.url}} height="200">
	</div>
{% endblock %}