{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/operation_trade.css" %}"/>
{% endblock %}

{% block content %}
	<h2>{{ header }}</h2>
    <div class='{{ trade_class }}' align="center">
        <form enctype="multipart/form-data" action='{{ action }}' method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input class="btn btn-primary" type="submit" value='{{ value }}'/>
        </form>
    </div>
{% endblock %}