{% extends 'base.html' %}
{% load staticfiles %}
{% load pagination_tags %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/trade.css" %}/>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p><a href={% url 'view_profile' trade.user.id %}><strong>{{trade.user}}</strong></a></p>
				<p><a href="{{ trade.get_absolute_url }}">{{trade.card.name}} {{trade.condition}}</a></p>
				<p>{{trade.date|date:'D d M Y'}}</p>
				<p>{{trade.description}}</p>
				{% if trade.reverse_picture %}
					<img src="{{trade.reverse_picture.url}}" height="400">
				{% endif %}
				{% if user.id == trade.user.id %}
					<a href={% url 'edit_trade' trade.id %}>Edit your trade</a>
				{% else %}
					<a href={% url 'response_trade' trade.id %}>Response trade</a>
				{% endif %}
			</div>
			<div class="col-md-8">
				<img src="{{trade.face_picture.url}}" height="400">
			</div>	
		</div>
	</div>
	<br>

	{% autopaginate comments 2%}
	<div class="all_comments">
		{% for comment in comments %}
			<div class="{% cycle 'comment' 'comment_odd' %}">
				<p>{{comment.created | date:'D d M Y'}} {{comment.user.username}}</p>
				<p>{{comment.text}}</p>
				<br>
			</div>
		{% empty %}
    		<p>No comments, yet</p>
		{% endfor %}
	</div>
	
	{% paginate %}

	<br>
	<form action={% url 'add_comment' %} method="post">
		{% csrf_token %}
		<input name="trade_id" type="hidden" value="{{trade.id}}">
		<label for="text_comment">Comment's text</label>
		<br>
        <textarea name="text_comment" cols="60" rows="5" required></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Add comment">
	</form>
{% endblock %}

	