{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div>
		<img src="{{trade.face_picture.url}}" height="400">
		<p><a href={% url 'view_profile' trade.user.id %}>{{trade.user}}</a></p>
		<p><a href="{{ trade.get_absolute_url }}">{{trade.card.name}} {{trade.condition}}</a></p>
		<p>{{trade.date|date:'D d M Y'}}</p>
		<p>{{trade.description}}</p>
		{% if trade.reverse_picture %}
			<img src="{{trade.reverse_picture.url}}" height="400">
		{% endif %}
		{% if user.id == trade.user.id %}
			<a href={% url 'edit_trade' trade.id %}>Edit your trade</a>
		{% else %}
			<a href={% url 'response_trade' trade.id %}>Response trade</a>
		{% endif %}
	</div>
{% endblock %}

	