{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <head>
         <link rel="stylesheet" type="text/css" href="{% static "css/users.css" %}"/>
    </head>

    <div class="container">
        <div class="row">
        	{% for profile in profiles %}
                <div class="col-md-4">
                    {% include 'cardtravel/preview/users.html' %}
                </div>
        	{% endfor %}
        </div>
    </div>


	<div class="row">
        <ul class="pagination">
            {% if profiles.has_previous %}
                <li class="arrow"><a href="/profile/page/{{ profiles.previous_page_number }}/">&laquo;</a></li>
            {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
            {% endif %}
            {% for page in profiles.paginator.page_range %}
                {% if page == profiles.number %}
                    <li><a href="/profile/page/{{ page }}/" class="btn btn-primary active">{{ page }}</a></li>
                {% else %}
                    <li><a href="/profile/page/{{ page }}/" class="btn btn-default">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if profiles.has_next %}
                <li class="arrow"><a href="/profile/page/{{ profiles.next_page_number }}/">&raquo;</a></li>
            {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}