{% extends 'base.html' %}
{% load staticfiles %}
{% load pagination_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users.css" %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% autopaginate profiles 6 %}
        	{% for profile in profiles %}
                <div class="col-md-4">
                    {% include 'cardtravel/preview/users.html' %}
                </div>
        	{% endfor %}
        </div>
    </div>

    {% paginate %}

{% endblock %}
