/* top menu */
#responsive-menu a {
	text-decoration: none;
	color: #7f7f7f;
	font-size: 1.5em;
}

#responsive-menu a:hover {
    color: white;
}

/* footer menu */
.navbar-inner p {
	color: #7f7f7f;
}


/* overall settings for footer and top menu */
.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li {
  display: inline;
}

/* overall style */
strong {
	font-weight: bold;
}

h1 {
	font-size: 2.2em;
	font-weight: bold;
}

/* content style */
.content {
	text-align: center;
}

/* message */
.success {
	background-color: #008800;
	text-align: center;
	border-color: #005500;
}

.deleted {
	background-color: #880000;
	text-align: center;
	border-color: #550000;
}

