
table {
	border: 3px solid #000000;

}

thead {
	font-size: 24px;
	font-weight: bold;
	background: #116618;
}

thead td {
	height: 60px;
}

td a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

td {
	border: 2px solid #000000;
	text-align: center;
    vertical-align: middle;
}

img {
	width: 200px;
}


/* Line between table and right side panel */
.col-md-10 {
	border-right: 2px solid green;
}

/* right side panel */
.panel-group {
	position: fixed;
	text-align: left;
}