<div class="operation">
	{% if card in user_wishlist %}
		<form action="" ={% url 'remove_card' 'wishlist'%} method="post">
			{% csrf_token %}
			<input name="card_id" type="hidden" value="{{card.id}}">
			<button type="submit">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</button>
		</form>
	{% else %}
		<form action={% url 'add_card' 'wishlist'%} method="post">
			{% csrf_token %}
			<input name="card_id" type="hidden" value="{{card.id}}">
			<button type="submit">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			</button>
		</form>
	{% endif %}
	{% if card in user_collection %}
		<form action={% url 'remove_card' 'collection'%} method="post">
			{% csrf_token %}
			<input name="card_id" type="hidden" value="{{card.id}}">
			<button type="submit">
				<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
			</button>
		</form>
	{% else %}
		<form action={% url 'add_card' 'collection'%} method="post">
			{% csrf_token %}
			<input name="card_id" type="hidden" value="{{card.id}}">
			<button type="submit">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			</button>
		</form>
	{% endif %}
</div>