{% load cardtravel_extras %}

<img src="{{card.face_picture.url}}" height="200">
<h5><a href={% url 'view_card' card.id %}>{{ card.name }}</a></h5>
<p><a href={% url 'view_category' 'country' card.country|encode_url %}>{{ card.country }}</a></p>
<p><a href={% url 'view_category' 'year' card.issued_on %}>{{ card.issued_on }}</a></p>
{% if card in user_wishlist %}
	<a href={% url 'remove_card' 'wishlist'%} class="{{card.id}}">
		<button type="submit">
			<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
		</button>
	</a>
{% else %}
	<a href={% url 'add_card' 'wishlist'%} class="{{card.id}}">
		<button type="submit">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
		</button>
	</a>
{% endif %}
{% if card in user_collection %}
	<a href={% url 'remove_card' 'collection'%} class="{{card.id}}">
		<button type="submit">
			<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
		</button>
	</a>
{% else %}
	<a href={% url 'add_card' 'collection'%} class="{{card.id}}">
		<button type="submit">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		</button>
	</a>
{% endif %}
